<h3>Ver Becas</h3>
<br />
<div class="row justify-content-md-center">

  <div class="row justify-content-center align-items-center">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-center align-items-center">
          Título:
          {{beca.title}}
        </h4>
        <p>Convoca: {{beca.convoca}}</p>
        <p>Importe: {{beca.importe}} €</p>
        <p>Tipo de Estudiante: {{beca.estu}} </p>
        <p>Convocatorias: {{beca.conv}} </p>
        <p>Nº de Ayudas ofertadas: {{beca.NumAyudas}} </p>
        <p>Requisitos: {{beca.requisitos}}</p>
        <p>Documentación necesaria: {{beca.documentacion}}</p>
        <p>Fecha de inicio de la publicación: {{beca.fechaIniPub}} </p>
        <p>Fecha de fin de la publicación: {{beca.fechaFinPub}} </p>
        <p>Presupuesto: {{beca.presTotal}} €</p>
        <p>Fecha de Resolución: {{beca.fechaReso}}</p>
        <p>Tipo de Beca: {{beca.tipoBeca}}</p>
        <p>Descripción: {{beca.description}} </p>
        <p>Estado de la convocatoria: {{beca.estado}} </p>
        <p>Financiado por la entidad: {{beca.financiacion}} </p>

      </div>
    </div>
  </div>

</div>