<table class="table" style="margin-left: -35%;">
  <thead>
    <tr>

      <th scope="col">Título</th>
      <th scope="col">Convoca</th>
      <th scope="col">Importe</th>
      <th scope="col">Tipo de Estudiante</th>
      <th scope="col">Convocatorias</th>
      <th scope="col">Documentación</th>
      <th scope="col">Nº de Ayudas</th>
      <th scope="col">Tipo de Beca</th>
      <th scope="col">Fecha de Resolución</th>
      <th scope="col">Requisitos</th>
      <th scope="col">Descripción</th>
      <th scope="col">Editar Beca</th>
      <th scope="col">Eliminar Beca</th>

    </tr>
  </thead>

  <tbody>
    {{#each becas}}
      <tr>
        <td>{{title}}</td>
        <td>{{encargado}}</td>
        <td>{{importe}} €</td>
        <td>{{estu}}</td>
        <td>{{conv}}</td>
        <td>{{documentacion}}</td>
        <td>{{ayuda}}</td>
        <td>{{tipoBeca}}</td>
        <td>{{fechaReso}}</td>
        <td>{{requisitos}}</td>
        <td>{{description}}</td>
          <td>
           <a href="/becas/edit/{{_id}}">
            <button type="button" class="btn btn-primary  btn-block btn-sm">Editar</button></form></td>
        <td>
          
          <form action="/becas/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <button
              type="submit"
              class="btn btn-danger btn-block btn-sm"
            >Eliminar</button></form></td>
          
      </tr>
    {{/each}}
  </tbody>
</table>